# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Database
db.sqlite3

# Django
*.log
local_settings.py
staticfiles/
mediafiles/

# IDE
.vscode/
.idea/
# Data imports
/data/
*.csv
*.tsv
*.gz
*.zip
*.gpkg

# OS
.DS_Store
Thumbs.db

# geo
geo/map_data/
